<div class="container">
    <div class="smallLine">
        <h2>Add Customers</h2>
    </div>

    <form name="addForm" class="flex-container">

        <div class="flex-item-box">

            <div class="flex-item">
                <div class="col-md-6">
                    <label>
                        <strong class="customizedLabel" ng-hide="showImagePreview">Profile</strong>
                        <img src="" alt="Profile" ng-show="showImagePreview" class="imagePreview" title="Profile">
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <button ng-click="clearProfile()" title="Remove profile" ng-disabled="!showImagePreview"><i
                                class="fa fa-user-times"></i></button>
                        <input type="file" ng-files="getTheImage(files,target)" ng-model="imageModel" />
                    </div>
                </div>
            </div>

            <div class="flex-item">
                <div class="col-md-6">
                    <label>
                        <strong class="customizedLabel">First Name <i class="text-danger">*</i></strong>
                    </label>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="First Name" name="firstName" ng-model="firstName">
                </div>

            </div>
            <div class="flex-item">
                <div class="col-md-6">
                    <label>
                        <strong class="customizedLabel">Last Name <i class="text-danger">*</i></strong>

                    </label>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Last Name" name="lastName" ng-model="lastName">
                </div>
            </div>
            <div class="flex-item">
                <div class="col-md-6">
                    <label>
                        <strong class="customizedLabel">Email <i class="text-danger">*</i></strong>
                    </label>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Email" name="email" ng-model="email">
                </div>
            </div>
            <div class="flex-item">
                <div class="col-md-6">
                    <label>
                        <strong class="customizedLabel">Country</strong>
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="box">

                        <div ng-show="placePart">
                            <button ng-click="allPlaces()" class="" ng-disabled="disableIfPlace">Find</button>
                            <input type="text" placeholder="Place" ng-model="place" ng-change="ifSomePlace()">
                        </div>

                        <select ng-show="showCountries" class="selectClass" ng-model="selectedPlace" ng-change="showLabelHidePlacePart()">
                            <option ng-repeat="p in all" name="place" value="{{p.name}}" ng-disabled="errorPlace">{{p.name}}</option>
                        </select>

                        <div ng-show="placeLabel">
                            <button ng-click="resetPlace()">&times;</button>
                            <label for="place" title="{{selectedPlace}}">{{selectedPlace}}</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="flex-item">
                <div class="col-md-6">
                    <label>
                        <strong class="customizedLabel">Please provide a proper zipcode</strong>
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="box">

                        <div ng-show="zipPart">
                            <button ng-click="allZipCode()" class="" ng-disabled="disableIfZip">Zip</button>
                            <input type="text" placeholder="Zip Code" ng-model="zip" ng-change="ifSomeZip()" maxlength="6">
                        </div>

                        <select ng-show="showZipPostals" class="selectClass" ng-model="selectedZip" ng-change="showLabelHideZipPart()">
                            <option ng-repeat="p in allZip" name="zip" value="{{p.Name}}" ng-disabled="error">{{p.Name}}</option>
                        </select>

                        <div ng-show="zipLabel">
                            <button ng-click="resetZip()">&times;</button>
                            <label for="zip" title="{{selectedZip}}">{{selectedZip}}</label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="flex-item">
                <div class="col-md-6">
                    <label>
                        <strong class="customizedLabel">Add details</strong>
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <button ng-click="showDocument()" title="Display document uploaded" ng-disabled="!selectDocument">
                            <i class="fa fa-align-justify"></i></button>
                        <input type="file" ng-files="getTheFiles(files,target)" ng-model="documentData" />
                    </div>
                </div>
            </div>


            <div class="flex-item">
                <div class="col-md-12 buttonBox">
                    <button class="personalisedBtn" ng-hide="disableAddCustomer" ng-click="saveNewCustomer()"
                        ng-disabled="!(firstName && lastName && email)">
                        Add
                    </button>
                    <button class="personalisedBtn" ng-show="disableAddCustomer" title="Adding customer" disabled="disableAddCustomer">
                        Adding...
                    </button>
                </div>
            </div>

        </div>
    </form>

    {{documentData}}
</div>
