<div class="all-background-list">
    <div class="container">
        <div class="smallLine">
            <h2>Customers</h2>
        </div>
        <label ng-show="stateChangingStart">Your action is in progress......</label>
        <table ng-hide="allCustList" class="table table-bordered table-hover text-center  table-background">

            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">FirstName</th>
                    <th class="text-center">LastName</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="oEmp in result.data | startFrom:(currentPage-1)*pageSize | limitTo: pageSize">

                    <td ng-click="showCustomerDetails(oEmp.id)" class="empId">{{oEmp.id}}</td>
                    <td ng-click="showCustomerDetails(oEmp.id)" class="empId">{{oEmp.firstName}}</td>
                    <td ng-click="showCustomerDetails(oEmp.id)" class="empId">{{oEmp.lastName}}</td>
                    <td ng-click="showCustomerDetails(oEmp.id)" class="empId">{{oEmp.email}}</td>
                    <td stop-click-bubbling>
                        <button class="btn btn-default" title="Delete Customer permanently">
                            <a href="#!/deleteCustomer/{{oEmp.id}}" class="progressfile">Delete</a>
                        </button>
                        <button class="btn btn-default" title="Update Customer">
                            <a href="#!/updateCustomer/{{oEmp.id}}" class="progressfile">Update</a>
                        </button>

                    </td>
                    <customer-details obj="customerData" ng-show="showDetails"></customer-details>
                </tr>
            </tbody>

        </table>
        <!-- PAGINATION -->
        <div uib-pagination total-items="result.data.length" ng-hide="allCustList" ng-model="currentPage"
            items-per-page="pageSize"></div>

        <div class="main-spinner" ng-show="allCustList"></div>
    </div>
</div>
